:root{
    --bleu-fonce:#021740;
    --bleu-roi:#07338c;
    --blanc: #FFFFFF;
    --violet:#9E91B7;
    --violte-fonce:#3D2DA6;
    --mySoftPink : #F2CEF2 ;
    --mySoftViolet : #9E91B7 ;
    --myPink : #DF99F2 ;
    --myViolet: #3D2DA6;
    --myBlue : #07338C;
    --myDarkBlue:#021740;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*polices texte*/

@font-face {
    font-family: "Panthera";
    src: url(../polices/panthera/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: "Wakanda";
    src: url(../polices/wakanda-forever/wakanda-forever-regular.ttf);
}
@font-face {
    font-family: "Beyno";
    src: url(../polices/beyno/beyno-regular.otf);
}
@font-face {
    font-family: "Cantarell";
    src: url(../polices/Cantarell/Cantarell-Regular.ttf);
}

/*le background*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Conteneur avec l'image d'arrière-plan et le dégradé radial */
.background-container {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, 
                                #11213F 0%, 
                                #0B0B0B 39.1%, 
                                rgba(2, 23, 64, 0.837641) 94.57%, 
                                rgba(2, 23, 64, 0) 100%),
                url('../background/arrière_plan.png'); /* Chemin vers votre image */
    background-size: cover; /* Couvre toute la zone */
    background-position: center; /* Centré */
    background-repeat: no-repeat; /* Pas de répétition */
    color: white;
}


.container {
    width: 85%;
    margin: 0 auto;
}




/*design bars*/

.header{
    position: relative;
}


.left-bar1{
    height: 520px;
    border-left: var(--violet) 3px solid;
    position: fixed;
    top: 0;
    left:2.5%;
}
.left-bar2{
    height: 350px;
    border-left: var(--violet) 3px solid;
    position: fixed;
    top: 0;
    left:4%;
}
.social-entete {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 370px;
    left: 3.3%;
}


/*design entete*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
   
}

.logo-header{
    position: relative;
    right: 10px; 
    width: 100px;
}
.menu{
    position: relative; 
    word-spacing: 45px;
    right: 80px;
    font-size: 25px;
}
.texte1{
    color: var(--blanc);
    font-family: beyno regular;

}
.texte2{
    text-decoration: none;
    color: var(--blanc);
    font-family: beyno regular;
}
.texte3{
    text-decoration: none;
    color: var(--blanc);
    font-family: beyno regular;
}


/*Première partie section 1: Black Panthere et illustration*/

.titre-panther{
    font-family: panthera regular;
    font-size: 68px;
    color: #9E91B7;
    padding-bottom: 10px;
    
    
}

.titre-wakanda{
    font-family: beyno regular;
    font-size: 32px;
    color: #9E91B7;
    padding-bottom: 35px;
}
.texte-panther{
    font-family: cantarell regular;
    font-size: 14px;
    padding-bottom: 20px;
   
}

.lien1 a{
    color: var(--blanc);
}

#panther-wakanda .description{
margin: 190px;

}

#panther-wakanda img {
    width: 1250px;
    position: absolute;
    top: 100px;
    left: 700px;
    z-index: 1;
}

/*Deuxieme partie section 2: Ajout du background*/

#personnages-blackpanther{
    display: flex;
    background-color: var(--bleu-fonce);
    height: 320px;
    margin-top: 330px;
    margin-left: 8.5%;
    
}



/*Deuxieme partie section 2: Personnages KILLMONGER*/

#personnages-blackpanther .image1{
    position: relative;
    left: 30px;
    top: -40px;
    height: 400px;
}

.content h3{
    position: relative;
    top: -350px; 
    left: 400px;
    font-family: "beyno";
    color: var(--violet);
    font-size: 20px;
}

#personnages-blackpanther .kill{
  position: relative;
  top: -340px; 
  text-align: justify;
  left: 400px;
  font-size: 14px;
  font-family: "cantarell regular";
}

.lien2 a{
    position: relative;
    color: var(--blanc);
    top: -800px;
    left: 400px;
}
/*Deuxieme partie section 2: Personnages OKOYE*/

#personnages-blackpanther .image2{
    position: relative;
    left: 900px;
    top: -546px;
    height: 320px;
    
}
.description h3{
    position: relative;
    top: -805px; 
    left: 1200px;
    font-family: "beyno";
    color: var(--violet);
    font-size: 20px;
}
#personnages-blackpanther .oko{
    position: relative;
    top: -795px; 
    text-align: justify;
    left: 1200px;
    font-size: 14px;
    font-family: "cantarell regular";
}

.lien3 a{
    position: relative;
    color: var(--blanc);
    top: -325px;
    left: 1200px;
}


#personnages-blackpanther .image3{
    position: relative;
    left: 1646px;
    top: -1013px;
    height: 320px;  
}

/*Troisieme partie section 3: descrition du prince*/

.panther-content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 260px;
}
.panther-content h3{
    font-family: "Beyno";
    color: var(--violet);
    margin: 18px 0;
    font-weight: lighter;
    padding-top: 90px;
    font-size: 25px;
}
#panther .description-prince{
    text-align: justify;
    margin-top: 30px;
}
#panther p{
    margin: 18px 0;
    font-weight: lighter;
    font-family: "Cantarell";
}

#panther ul{
    font-size: 15px;
    font-family: "Cantarell";
    margin-bottom: 10px;
    margin-top: -15px;
    list-style-type:"- ";
    padding-left: 5px;
}


.description-prince{
    font-size: 14px;
}


/*Troisieme partie section 3: profile*/

#panther .profile{
    width: 60%;
    margin: 0 auto;
}

#panther .acteur1{
    width: 370px;
    position: absolute;
    top: 1310px;
    left: 1245px;
    z-index: 1;
}

.profile-content{
    background-color: #eae6f3;
    height: 720px;
    width: 470px;
    padding: 0 55px;
    border-radius: 10px;
    position: absolute;
    top: 1600px;
    left: 1200px;
    padding-top: 300px;
    line-height: 10px;
}

#panther h4{
    color: black;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: -35px;
}
#panther nav a{
    display: flex;
    padding: 10px 12px;
    background-color: var(--violte-fonce);
    color: var(--blanc);
    text-decoration: none;
    justify-content: center;
    font-size: 13px;
    border-radius: 5px;
    position: relative;
    top: -35px;
}

#panther .profile p {
    color: var(--bleu-fonce);
    font-weight:900;
    font-size: 12px;
    
}

#panther span {
    color: var(--bleu-roi);
    font-size: 18px;
}
#panther .parenthèse{
    font-size: 10px;
}
#panther .acteur2{
    position: absolute;
    top: 2490px;
    width: 470px;
    left: 1200px;
}

/*Quatrieme partie section 4: formulaire*/

.formulaire {
    background: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}

.formulaire {
    background-image: url("../background/Pantherhome7.png");
    height: 950px;  
}

.formulaire-forme{
    background-image: linear-gradient(rgba(255, 255, 255, 0.85) 15%, rgba(255, 255, 255, 0.08));
    margin: 230px 0 55px;
    width: 50%;
    border-radius: 210px ;
    margin-right: 50px;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire p{
    color: black;
    text-align: center;
    font-family: cantarell;
    padding: 90px;
    font-size: 18px;
    margin-top: -30px;
}

.formulaire-forme h2{
    color: black;
    font-family: cantarell;
    font-size: 50px;
    text-align: center;
    margin-top: -100px;
}





/*textarea du formulaire */

.formulaire-forme input {
    position: relative;
    width: 235%;
    height: 55px;
    border-radius: 38px;
    padding: 5px 20px;
    background-color: transparent;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    margin-bottom: 10px;
    left: -60%; 
    font-size: 15px;
    top: -20px;
    
}

.formulaire-forme input,
.formulaire-forme textarea {
    margin: 5px 0;
}

textarea {
    width: 182%;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: transparent;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    position: relative;
    left: -35%;
    height: 225px;
    top: -15px;
    
}

.formulaire-forme input::placeholder,
.formulaire-forme textarea::placeholder {
    color: black;
    font-family: cantarell;
    font-size: 16px;
}

/* Media queries*/

@media screen and (max-width: 600px) {
    .formualire-forme input {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        padding: 5px 15px;
    }

    .formualire-forme textarea {
        width: 100%;
        border-radius: 10px;
        padding: 5px 15px;
    }
}


/* Boutons submit du formulaire */

.formulaire-forme button {
    
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 38px;
    background-color: var(--mySoftPink);
    font-weight: bolder;
    font-size: 12px;
}

.submitBtn:hover {
    filter: drop-shadow(0 0 10px var(--mySoftPink)) ;
}

/* Popup Box */

#popupBox {
    display: none;
    padding: 20px;
    background-color:#3d2da691;
    color: white;
    margin: 15px;
    border-radius: 38px;
  }
  
   /* Popup Box button */

   .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }



  /* Cinquieme partie: footer */

.footers p, 
.footers a,
.footers li {
    font-family: Cantarell;
    font-size: 10px;
    list-style: none;
    text-decoration: none;
    margin: 5px 0;
}

footer h3 {
    font-family: Cantarell;
    font-size: 14px; 
    letter-spacing: 3px;
    margin: 5px 0 10px;
}

footer {
    background: url(../background/back_footer.png) no-repeat;
    background-size: 100% 100%;
    
    
}




.footers {
    margin: 200px 10% 50px;
}


/* Media queries pour les petites écrans */

@media screen and (max-width: 700px) {
    .footerDiv {
        margin: 100px 10px 50px;
    }

    .findUs figure{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .findUs img {
        width: 5vw;
    }
    
}


/* grille */

.footers² {
    display: grid;
    grid-template-areas: 
        "logo logo pages findUs"
        "logo logo pol pol";
    gap: 15px;
}

/* Media Query */

@media screen and (max-width: 400px) {
    .footerDiv {
        display: grid;
        grid-template-areas: 
            "logo logo"
            "pages findUs" 
            "pol pol";
        gap: 15px;
    }
}

/* Media Query */
@media screen and (max-width: 400px) {
    .footerDiv {
        display: grid;
        grid-template-areas: 
            "logo logo"
            "pages findUs" 
            "pol pol";
        gap: 15px;
    }
}

.logo {
    grid-area: logo;
}

.pages {
    grid-area: pages;
}

.findUs {
    grid-area: findUs;
}

.pol {
    grid-area: pol;
}


/* élément du footer */

.logo {
    display: flex;
    justify-content: center;
    }
    
    .logo-img {
        width: 14vw;
        height: 25vw;
        min-width: 150px;
        min-height: 150px;
        background: url(../background/footer1.png) no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        top: 240px;
    }
    .logo-img{
        position: relative;
        margin-left: 400px;
    }

    .logo-img a{
        position: relative;
        top: -90px;
    }

    
    .logo-image {
        position: relative;
        right: 2vw;
        width: 12vw;
        min-width: 75px;
    }
    
    .logo-img:hover {
        transform: scale(110%);
    }
    
    .pages a:hover {
        text-decoration: underline;
    }
    
    .retrouvez {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }
    
    .retrouvez img {
        max-width: 60px;
        margin: 0 5px;
        
    }
    .retrouvez img{
        position: relative;
        left: 500px;
        top: -350px;
    }
    
    .retrouvez img:hover {
        transform: scale(110%);
    }
    
    .Bas-de-page {
        display: flex;
        align-items: center;
    }


    .sociaux img{
        position: relative;
        top: -380px;
    }

    

    .retrouvez h3{
        position: relative;
        top: -390px;
        font-size: 25px;
        color: #d6ced6;
        margin-left: 1000px;
       
    }

    .pages h3{
        position: relative;
        top: -280px;
        font-size: 25px;
        margin-left: 800px;
        color: #d6ced6;
    }
   


    .pages a{
        position: relative;
        top: -280px;
        margin-left: 800px;
        color: #d6ced6;
        font-size: 18px;
    }

    .Bas-de-page p{
        position: relative;
        top: -280px;
        font-size: 15px;
        color: #d6ced6;
        margin-left: 800px;
    }
