:root{
    --bleu-fonce:#021740;
    --bleu-roi:#07338c;
    --blanc: #FFFFFF;
    --violet:#9E91B7;
    --violte-fonce:#3D2DA6;
    --mySoftPink : #F2CEF2 ;
    --mySoftViolet : #9E91B7 ;
    --myPink : #DF99F2 ;
    --myViolet: #3D2DA6;
    --myBlue : #07338C;
    --myDarkBlue:#021740;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*polices texte*/

@font-face {
    font-family: "Panthera";
    src: url(../polices/panthera/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: "Wakanda";
    src: url(../polices/wakanda-forever/wakanda-forever-regular.ttf);
}
@font-face {
    font-family: "Beyno";
    src: url(../polices/beyno/beyno-regular.otf);
}
@font-face {
    font-family: "Cantarell";
    src: url(../polices/Cantarell/Cantarell-Regular.ttf);
}

/*le background*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Conteneur avec l'image d'arrière-plan et le dégradé radial */
.background-container {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, 
                                #11213F 0%, 
                                #0B0B0B 39.1%, 
                                rgba(2, 23, 64, 0.837641) 94.57%, 
                                rgba(2, 23, 64, 0) 100%),
                url('../background/arrière_plan.png'); /* Chemin vers votre image */
    background-size: cover; /* Couvre toute la zone */
    background-position: center; /* Centré */
    background-repeat: no-repeat; /* Pas de répétition */
    color: white;
}



























.container {
    width: 85%;
    margin: 0 auto;
}




/*design bars*/

.header{
    position: relative;
}


.left-bar1{
    height: 520px;
    border-left: var(--violet) 3px solid;
    position: fixed;
    top: 0;
    left:2.5%;
}
.left-bar2{
    height: 350px;
    border-left: var(--violet) 3px solid;
    position: fixed;
    top: 0;
    left:4%;
}
.social-entete {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 370px;
    left: 3.3%;
}


/*design entete*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
   
}

.logo-header{
    position: relative;
    right: 10px; 
    width: 100px;
}
.menu{
    position: relative; 
    word-spacing: 45px;
    right: 80px;
    font-size: 25px;
}
.texte1{
    color: var(--blanc);
    font-family: beyno regular;

}
.texte2{
    text-decoration: none;
    color: var(--blanc);
    font-family: beyno regular;
}
.texte3{
    text-decoration: none;
    color: var(--blanc);
    font-family: beyno regular;
}


/*Première partie section 1: Black Panthere et illustration*/

.titre-panther{
    font-family: panthera regular;
    font-size: 68px;
    color: #9E91B7;
    padding-bottom: 10px;
    
    
}

.titre-wakanda{
    font-family: beyno regular;
    font-size: 32px;
    color: #9E91B7;
    padding-bottom: 35px;
}
.texte-panther{
    font-family: cantarell regular;
    font-size: 14px;
    padding-bottom: 20px;
   
}

.lien1 a{
    color: var(--blanc);
}

#panther-wakanda .description{
margin: 190px;

}

#panther-wakanda img {
    width: 1250px;
    position: absolute;
    top: 100px;
    left: 700px;
    z-index: 1;
}

/*Deuxieme partie section 2: Ajout du background*/

#personnages-blackpanther{
    display: flex;
    background-color: var(--bleu-fonce);
    height: 320px;
    margin-top: 330px;
    margin-left: 8.5%;
    
}



/*Deuxieme partie section 2: Personnages KILLMONGER*/

#personnages-blackpanther .image1{
    position: relative;
    left: 30px;
    top: -40px;
    height: 400px;
}

.content h3{
    position: relative;
    top: -350px; 
    left: 400px;
    font-family: "beyno";
    color: var(--violet);
    font-size: 20px;
}

#personnages-blackpanther .kill{
  position: relative;
  top: -340px; 
  text-align: justify;
  left: 400px;
  font-size: 14px;
  font-family: "cantarell regular";
}

.lien2 a{
    position: relative;
    color: var(--blanc);
    top: -800px;
    left: 400px;
}
/*Deuxieme partie section 2: Personnages OKOYE*/

#personnages-blackpanther .image2{
    position: relative;
    left: 900px;
    top: -546px;
    height: 320px;
    
}
.description h3{
    position: relative;
    top: -805px; 
    left: 1200px;
    font-family: "beyno";
    color: var(--violet);
    font-size: 20px;
}
#personnages-blackpanther .oko{
    position: relative;
    top: -795px; 
    text-align: justify;
    left: 1200px;
    font-size: 14px;
    font-family: "cantarell regular";
}

.lien3 a{
    position: relative;
    color: var(--blanc);
    top: -325px;
    left: 1200px;
}


#personnages-blackpanther .image3{
    position: relative;
    left: 1646px;
    top: -1013px;
    height: 320px;  
}

/*Troisieme partie section 3: descrition du prince*/

.panther-content {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.panther-content h3{
    font-family: "Beyno";
    color: var(--violet);
    margin: 18px 0;
    font-weight: lighter;
    padding-top: 90px;
}
#panther .description-prince{
    text-align: justify;
    margin-top: 30px;
}
#panther p{
    margin: 18px 0;
    font-weight: lighter;
}

#panther ul{
    font-size: 10px;
    font-family: "Cantarell";
    margin-bottom: 10px;
    margin-top: -15px;
    list-style-type:"- ";
    padding-left: 5px;
}




/*Troisieme partie section 3: profile*/

#panther .profile{
    width: 60%;
    margin: 0 auto;
}

#panther .acteur1{
    width: 280px;
    position: absolute;
    top: 1220px;
    left: 1435px;
    z-index: 1;
}

.profile-content{
    background-color: #eae6f3;
    height: 560px;
    width: 350px;
    padding: 0 55px;
    border-radius: 10px;
    position: absolute;
    top: 1450px;
    left: 1400px;
    padding-top: 190px;
    line-height: 10px;
}

#panther h4{
    color: black;
    font-size: 20px;
    text-align: center;
}
#panther nav a{
    display: flex;
    padding: 10px 12px;
    background-color: var(--violte-fonce);
    color: var(--blanc);
    text-decoration: none;
    justify-content: center;
    font-size: 10px;
    border-radius: 5px;
}

#panther .profile p {
    color: var(--bleu-fonce);
    font-weight:900;
    font-size: 12px;
    
}

#panther span {
    color: var(--bleu-roi);
}
#panther .parenthèse{
    font-size: 10px;
}
#panther .acteur2{
    position: absolute;
    top: 1780px;
    width: 350px;
    left: 825px;
}
