:root{
    --bleu-fonce:#021740;
    --bleu-roi:#07338c;
    --blanc: #FFFFFF;
    --violet:#9E91B7;
    --violte-fonce:#3D2DA6;
    --mySoftPink : #F2CEF2 ;
    --mySoftViolet : #9E91B7 ;
    --myPink : #DF99F2 ;
    --myViolet: #3D2DA6;
    --myBlue : #07338C;
    --myDarkBlue:#021740;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*polices texte*/

@font-face {
    font-family: "Panthera";
    src: url(../polices/panthera/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: "Wakanda";
    src: url(../polices/wakanda-forever/wakanda-forever-regular.ttf);
}
@font-face {
    font-family: "Beyno";
    src: url(../polices/beyno/beyno-regular.otf);
}
@font-face {
    font-family: "Cantarell";
    src: url(../polices/Cantarell/Cantarell-Regular.ttf);
}

/*le background*/

body {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%,#11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%,rgba(2, 23, 64, 0) 100%);
    color: var(--blanc);
    margin: 20px;
}
.container {
    width: 85%;
    margin: 0 auto;
}




/*design bars*/

.header{
    position: relative;
}


.left-bar1{
    height: 520px;
    border-left: var(--violet) 3px solid;
    position: fixed;
    top: 0;
    left:2.5%;
}
.left-bar2{
    height: 350px;
    border-left: var(--violet) 3px solid;
    position: fixed;
    top: 0;
    left:4%;
}
.social-entete {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 370px;
    left: 3.3%;
}


/*design entete*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
   
}

.logo-header{
    position: relative;
    top: -25px;
    right: 10px; 
    width: 100px;
}
.menu{
    position: relative; 
    top: -25px;
    word-spacing: 45px;
    right: 80px;
    font-size: 25px;
}
.texte1{
    color: var(--blanc);
    font-family: beyno regular;

}
.texte2{
    text-decoration: none;
    color: var(--blanc);
    font-family: beyno regular;
}
.texte3{
    text-decoration: none;
    color: var(--blanc);
    font-family: beyno regular;
}


/*Première partie section 1: Black Panthere et illustration*/

.titre-panther{
    font-family: panthera regular;
    font-size: 68px;
    color: #9E91B7;
    padding-bottom: 10px;
    
    
}

.titre-wakanda{
    font-family: beyno regular;
    font-size: 32px;
    color: #9E91B7;
    padding-bottom: 35px;
}
.texte-panther{
    font-family: cantarell regular;
    font-size: 14px;
    padding-bottom: 20px;
   
}

.lien1 a{
    color: var(--blanc);
}

#panther-wakanda .description{
margin: 190px;

}

#panther-wakanda img {
    width: 1250px;
    position: absolute;
    top: 100px;
    left: 700px;
    z-index: 1;
}

/*Deuxieme partie section 2: Ajout du background*/

#personnages-blackpanther{
    display: flex;
    background-color: var(--bleu-fonce);
    height: 280px;
    margin-top: 300px;
    margin-left: 8.5%;
    
}



/*Deuxieme partie section 2: Personnages KILLMONGER*/

#personnages-blackpanther .image1{
    position: relative;
    left: 30px;
    top: -40px;
    height: 360px;
}

.content h3{
    position: relative;
    top: -320px; 
    left: 400px;
    font-family: "beyno";
    color: var(--violet);
    font-size: 20px;
}

#personnages-blackpanther .kill{
  position: relative;
  top: -300px; 
  text-align: justify;
  left: 400px;
  font-size: 14px;
  font-family: "cantarell regular";
}

.lien2 a{
    position: relative;
    color: var(--blanc);
    top: -720px;
    left: 400px;
}
/*Deuxieme partie section 2: Personnages OKOYE*/

#personnages-blackpanther .image2{
    position: relative;
    left: 900px;
    top: -505px;
    height: 282px;
    
}
.description h3{
    position: relative;
    top: -743px; 
    left: 1200px;
    font-family: "beyno";
    color: var(--violet);
    font-size: 20px;
}
#personnages-blackpanther .oko{
    position: relative;
    top: -725px; 
    text-align: justify;
    left: 1200px;
    font-size: 14px;
    font-family: "cantarell regular";
}

.lien3 a{
    position: relative;
    color: var(--blanc);
    top: -290px;
    left: 1200px;
}


#personnages-blackpanther .image3{
    position: relative;
    left: 1655px;
    top: -930px;
    height: 280px;  
}
